<div class="footer">
    <div class="footer-logos">
        <a href="https://www.valvesoftware.com/en/about">
            <img class="footer-img" src="/static/assets/valve_footer_logo.png">
        </a>
        <a href="https://forums.playdeadlock.com">
            <img class="footer-img" src="/static/assets/deadlock_footer_logo.png">
        </a>
    </div>
    <div class="footer-texts">
        This is a fan-made unofficial site made by <a href="https://x.com/nokocuVAL"><b>nokocu</b></a>.<br>
        Deadlock and the Deadlock logo are trademarks and/or registered trademarks of Valve Corporation. 2024 Valve Corporation, all rights reserved.
    </div>
</div>
</body>
</html>
