<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cursedapple</title>
</head>
<body>
    <h1>cursedapple</h1>
    {% if patches %}
        <ul>
        {% for patch in patches %}
            <li>
                <h2>{{ patch[4] }} Update</h2>
                <p><strong>timestamp:</strong> {{ patch[4]|safe }}</p>
                <p><strong>Link:</strong> <a href="{{ patch[1]|safe }}" target="_blank">{{ patch[1] }}</a></p>
                <p><strong>Content:</strong> {{ patch[2]|safe }}</p>
                <p><strong>JSON:</strong><pre><code>{{ patch[3]|tojson|safe }}</code></pre></p>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No patches found.</p>
    {% endif %}
</body>
</html>
